<%= form_for (@projet) do |f| %>
  <% if @projet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projet.errors.count, "error") %> prohibited this projet from being saved:</h2>

      <ul>
      <% @projet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="personne">
    <label>Type d'organisme</label>
    <%= f.select :personne , ["Association", "Collectivité", "Entreprise", "Particulier", "Artisan"] , { include_blank: false } %>
  </div>
  <div class="organisme">
    <%= f.label :organisme, :class => 'titre_champ' %><br>
    <%= f.text_field :organisme %>
  </div>
  <div class="nom">
    <%= f.label :nom, :class => 'titre_champ' %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="telephone">
    <%= f.label :telephone, :class => 'titre_champ' %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="email">
    <%= f.label :email, :class => 'titre_champ' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="description">
    <%= f.label :description, :class => 'titre_champ' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <input type="submit" class="bouton" value="Envoyer" />
  </div>

<% end %>
</div>
