<p id="notice"><%= notice %></p>
<h1 class ="titre_liste">Liste des demandes de projet</h1>
<table>
  <thead>
    <tr>
      <th><p class="titre"> Type d'organisme </p></th>
      <th><p class="titre"> Organisme </p></th>
      <th><p class="titre"> Nom </p></th>
      <th><p class="titre"> Telephone </p></th>
      <th><p class="titre"> Email </p></th>
   </tr>
  </thead>
  <tbody>
    <% @projets.each do |projet| %>
      <tr>
        <td class="titre" ><%= projet.personne %></td>
        <td class="titre"><%= projet.organisme %></td>
        <td class="titre"><%= projet.nom %></td>
        <td class="titre"><%= projet.telephone %></td>
        <td class="titre"><%= projet.email %></td>
      </tr>
      <tr>
        <td colspan="5" class="titre"><p class="titre">Description</p></td>
      </tr>
      <tr>
        <td colspan="5"><div class="description_index"><%= projet.description %></div></td>
      </tr>
      <tr>
          <td class="bouton2"><%= link_to 'Voir', projet %></td>
          <td class="bouton2"><%= link_to 'Supprimer', projet, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
          <td colspan="3"></td>
      </tr>
       <tr>
         <th><p class="titre"> Type d'organisme </p></th>
         <th><p class="titre"> Organisme </p></th>
         <th><p class="titre"> Nom </p></th>
         <th><p class="titre"> Telephone </p></th>
         <th><p class="titre"> Email </p></th>
      </tr>
     <% end %>
  </tbody>
</table>
<br>

