<p id="notice"><%= notice %></p>
<h1>Liste des demandes de projet</h1>
<table>
  <thead>
    <tr>
      <th>Personne</th>
      <th>Organisme</th>
      <th>Nom</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Description</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @projets.each do |projet| %>
      <tr>
        <td><%= projet.personne %></td>
        <td><%= projet.organisme %></td>
        <td><%= projet.nom %></td>
        <td><%= projet.telephone %></td>
        <td><%= projet.email %></td>
        <td><%= projet.description %></td>
        <td><%= link_to 'Voir', projet %></td>
        <td><%= link_to 'Supprimer', projet, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

