
  <div class="container">
  <div ="notice">
  <p id="notice"><%= notice %></p>
  </div >
    <div class="personne">
      <p> 
     <p>
      Type d'organisme : 
     </p> 
     <p class="boite"><%= @projet.personne %>
     </p>
    </div>
    <div class="organisme">
     <p>
      Organisme
     </p>
     <p class="boite"><%= @projet.organisme %>
     </p>
    </div>
  <div class="nom">
     <p>
      Nom
     </p>
     <p class="boite"><%= @projet.nom %>
     </p>
  </div>
  <div class="telephone">
    <p>
    Telephone  
    </p>
    <p class="boite"><%= @projet.telephone %>
    </p>
  </div>
  <div class="email">
    <p>
    Email
    </p>
    <p class="boite"><%= @projet.email %>
  </p>
  </div>
  <div class="description">
   <p>
    Description
   </p>
   <p class="boite_description"><%=simple_format h @projet.description %>
   </p>
  </div>
  <div class="bouton">
   <%= link_to 'Modifier', edit_projet_path(@projet) %> |
   <%= link_to 'Quitter', new_projet_path(@projet) %> 
  </div>
  </div>


